@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.background-container {
    background-color: #19232d;
    height: 100%;
}

.company-logo {
    height: 45px;
    width: 55px;
    margin-top: 40px;
    margin-bottom: 20px;
}

.twitter-logs {
    font-size: 28px;
    padding-top: 10px;
    color: #5a7184;

}

.twitter-logo-background-container {
    background-color: #202b36;
    height: 50px;
    width: 50px;
    border-radius: 40px;
    margin-right: 20px;

}

.address {
    font-size: 20px;
    color: #5a7184;
    font-family: "Roboto";
    margin-top: 20px;
}

.contact-us-section {
    font-size: 20px;
    color: #5a7184;
    font-family: "Roboto";
    font-weight: bold;
    margin-top: 40px;
}

.gmail {
    font-family: "Roboto";
    font-size: 20px;
    color: #5a7184;
    margin-left: 5px;
}

.hr-class {
    border: 1px solid red;
    color: #5a7184;
    width: 100%;

}

.circle-c {
    color: #5a7184;
}

.bottom-section {
    font-family: "Roboto";
    margin-left: 5px;
    color: #959ead;
    font-size: 20px;
}
