@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.background-container {
    background-image: linear-gradient(to right, #f49541, #dd5d97);

}

.html-img {
    height: 350px;
    margin-bottom: 10px;
}

.html-img2 {
    height: 150px;
    padding: 10px;
    margin-right: 10px;
    margin-left: 0px;

}

.appliances-img {
    width: 100%;
}

.appliances-img2 {
    width: 100%;
    margin-top: 20px;
    height: auto;
}

.heading {
    font-family: "Roboto";
    font-weight: bold;
    color: #ad2167;
    padding: 10px;
}

.paragraph {
    color: white;
    font-family: "Roboto";
    font-size: 30px;
}

.span1 {
    font-weight: 200;
    font-style: italic;
    padding-left: 10px;
}

.offer-percentage {
    width: 90%;
    padding-bottom: 30px;
}
